@model BugTracker.Models.TicketComments

@{
    Layout = null;
}

@*<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TicketComments</h4>
        <hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h5>Comment On This Ticket</h5>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.body, new { cols = "50", rows = "7", id = "longText", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>
    @*</div>
}*@
