
    <section class="section">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card card-sm-3">
                    <div class="card-icon bg-primary">
                        <i class="ion ion-person"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Admin Role</h4>
                        </div>
                        <div class="card-body lower-font">
                            <br />
                            <br />
                            <br />
                            <ul>
                                <li>Can send in help tickets</li>
                                <li>Can modify all tickets from all projects</li>
                                <li>Can create and modify projects</li>
                                <li>Can assign project managers to projects</li>
                                <li>Can assign and unassign roles to users</li>
                                <li>Can comment on all tickets</li>
                                <li>Can add attachments to all tickets</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card card-sm-3">
                    <div class="card-icon bg-danger">
                        <i class="ion ion-ios-paper-outline"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Project Manager Role</h4>
                        </div>
                        <div class="card-body lower-font">
                            <br />
                            <br />
                            <br />
                            <ul>
                                <li>Can assign developers to projects</li>
                                <li>Can modify tickets of all projects they own</li>
                                <li>Can view all projects</li>
                                <li>Can create projects</li>
                                <li>Can assign developers to tickets that are under your projects</li>
                                <li>Can create help tickets</li>
                                <li>Can comment on tickets they are the Project Manager of</li>
                                <li>Can send attachments to tickets they are the Project Manager of</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card card-sm-3">
                    <div class="card-icon bg-success">
                        <i class="ion ion-code"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Developer Role</h4>
                        </div>
                        <div class="card-body lower-font">
                            <br />
                            <br />
                            <br />
                            <ul>
                                <li>Can edit tickets that they are assigned to</li>
                                <li>Can view all tickets of projects that they are on</li>
                                <li>Can comment on tickets they are assigned to</li>
                                <li>Can send attachments to tickets they are assigned to</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card card-sm-3">
                    <div class="card-icon bg-warning">
                        <i class="ion ion-paper-airplane"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>Submitter Role</h4>
                        </div>
                        <div class="card-body lower-font">
                            <br />
                            <br />
                            <br />
                            <ul>
                                <li>Can send in help tickets</li>
                                <li>Can modify their own tickets</li>
                                <li>Can comment on their own ticket</li>
                                <li>Can send attachments to their own ticket</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
