@model BugTracker.Models.AssignProjects
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("userId", Model.user.Id)

        <div class="form-group">
            Select Projects: (hold ctrl to select multiple)
            <br />
            @Html.ListBoxFor(m => m.selectedProjects, Model.projects, new { @class = "multiSelectList" })
        </div>
        <br />
        <button type="submit">Assign</button>
    </div>
}