@using BugTracker.Helpers
@model IEnumerable<BugTracker.Models.ApplicationUser>

@{
    var roleHelper = new RoleHelper();
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.firstName
        </td>
        <td>
            @item.lastName
        </td>
        <td style="padding-left: 10px; padding-right: 10px;">
            <b> Role:</b> @roleHelper.ListUserRoles(item.Id).FirstOrDefault().ToString()
        </td>
        <td style="padding-left: 10px;">
            <b>Assign to Projects:</b> @Html.ActionLink("Assign", "AssignUsers", new { userId = item.Id })
        </td>
    </tr>
    <hr />
}