@using BugTracker.Helpers
@model IEnumerable<BugTracker.Models.ApplicationUser>

@{ 
    var roleHelper = new RoleHelper();
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.firstName
        </td>
        <td>
            @item.lastName
        </td>
        <td>
            <b>Roles: </b>
            @roleHelper.ListUserRoles(item.Id).FirstOrDefault().ToString()
        </td>
        <td class="text-right">
            <b>Change Role:</b> @Html.ActionLink("Edit", "EditRoles", new { userId = item.Id })
        </td>
    </tr>
    <hr />
}